PORT=3000
NODE_ENV=production
DATA_DIR=./data
BACKUP_DIR=./backups
DIDI_ADMIN_USERNAME=didiadmin
DIDI_ADMIN_EMAIL=admin@example.com
DIDI_ADMIN_PASSWORD=BURAYA_EN_AZ_10_KARAKTER_GUCLU_SIFRE
MAINTENANCE_MODE=false
STATUS_MESSAGE=Sistem çalışıyor
